<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    {% load static %}    
    <link rel="stylesheet" href="{% static 'semi_app/style.css' %}" media="screen" title="no title"  charset="utf-8">
    <link rel="stylesheet" href="{% static 'semi_app/normalize.css' %}" media="screen" title="no title"  charset="utf-8">
    <link rel="stylesheet" href="{% static 'semi_app/skeleton.css' %}" media="screen" title="no title"  charset="utf-8">
    <title>Edit User {{id}}</title>
</head>
<body>
    <h1>Edit User {{user.id}}</h1>
    {% if messages %}
        {% for message in messages %}
            <p>{{message}}</p>
        {% endfor %}
    {% endif %}
    <form action="/semi_app/{{user.id}}/update" method="post">
        {% csrf_token %}
        <p>First Name:</p>
        <input type="text" name="first_name" value='{{user.first_name}}'>
        <p>Last Name:</p>
        <input type="text" name="last_name" value='{{user.last_name}}'>
        <p>Email:</p>
        <input type="text" name="email" value='{{user.email}}'>
        <br>
        <input type="submit" value="Update">
    </form>
    <a href="/semi_app/{{user.id}}">Show</a> |
    <a href="/semi_app">Go Back</a>
</body>
</html>